<div class="media-content", style="margin-left: 70px;">
    <% if post.comments.count == 0 %>
        <small>This post doesn't have any comments.</small>
    <% end %>
    <%= form_for(post.comments.build, url: post_comments_path(post)) do |f| %>
        <div id="comment_form">
            <div class="field column is-half" style="padding-left: 0px;margin-bottom: 0px;padding-bottom: 0px;">
                <br><p class="control"><%= f.text_area :body, placeholder: 'Put your comment...', class: "textarea has-fixed-size" %><br></p>
            </div>
            <div class="field">
                <p class="control">
                    <%= f.submit 'Comment', class: "button" %>
                </p>
            </div>
        </div>
    <% end %>
</div>