<div id="comment_form">
    <%= form_for(post.comments.build, url: post_comments_path(post)) do |f| %>
        <%= f.text_area :body, placeholder: 'Put your comment...' %><br>
        <%= f.submit 'Comment' %>
    <% end %>
</div>
<% if post.comments.count == 0 %>
    <br>This post doesn't have any comments.
<% end %>