<div class="container">
    <div class="notification">
        <h1 class="title">Users</h1>
        <% @users.each do |user| %>
        <div class="media">
            <% unless user == current_user %>
                <div class="media-left">
                    <p class="image is-48x48">
                        <%= image_tag user.gravatar_url %>
                    </p>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p style="margin-top: 9px">
                            <%= link_to  "#{user.full_name}", user_path(user) %>
                        </p>
                    </div>
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
