<% if flash[:error] %>
    <% flash[:error].each do |error| %>
        <p class="alert"><%= error %></p>
    <% end %>
<% end %>
<%= form_for(:post, url: posts_path) do |f| %>
    <div class="control">
        <%= f.text_area :body, class: "textarea has-fixed-size is-primary" %><br>
    </div>
    <%= f.submit 'Post', class: "button is-primary" %>
<% end %>