<%= form_for(:post, url: posts_path) do |f| %>
    <div class="control">
        <%= f.text_area :body, class: "textarea has-fixed-size is-primary" %><br>
    </div>
    <%= f.submit 'Post', class: "button is-primary" %>
<% end %>
<% if flash[:error] %>
    <ul>
        <% flash[:error].each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>